* {
    margin: 0;
    padding: 0;
    color: white;
}


body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: black;
    padding: 10px;
    width: 90dvw;
    height: fit-content;
    border: 4px solid pink;
    
    /* margin: 0 auto; */
    /* margin-left: auto;  */
    /* margin-right: auto; */
}

.card {
    background-color: blue;
    padding: 50px;
}